## Apache file
## This file is used to insert some configurations for Apache server.

## Enable rewritting
RewriteEngine On

## Rewritting for detail pages
## Get '/project/1' instead of '/project/projectDetail.php?id=1'
## $1 is a variable
RewriteRule admin/project/([0-9]+)/*$ admin/project/detailProject.php?id=$1 [L]
RewriteRule admin/skill/([0-9]+)/*$ admin/skill/detailSkill.php?id=$1 [L]
RewriteRule admin/message/([0-9]+)/*$ admin/message/detailMessage.php?id=$1 [L]

## Rewritting for update pages
RewriteRule admin/project/([0-9]+)/*/update admin/project/updateProject.php?id=$1 [L]
RewriteRule admin/skill/([0-9]+)/*/update admin/skill/updateSkill.php?id=$1 [L]
RewriteRule admin/message/([0-9]+)/*/update admin/message/updateMessage.php?id=$1 [L]

## Rewritting for delete pages
RewriteRule admin/project/([0-9]+)/*/confirm-delete admin/project/confirmDeleteProject.php?id=$1 [L]
RewriteRule admin/skill/([0-9]+)/*/confirm-delete admin/skill/confirmDeleteSkill.php?id=$1 [L]
RewriteRule admin/message/([0-9]+)/*/confirm-delete admin/message/confirmDeleteMessage.php?id=$1 [L]

## Rewritting for create pages
RewriteRule admin/project/new admin/project/createProject.php
RewriteRule admin/skill/new admin/skill/createSkill.php

## Rewritting for account pages
RewriteRule admin/account/update-email admin/account/updateEmail.php
RewriteRule admin/account/update-password admin/account/updatePassword.php

## Rewritting for clean URL, remove the extension file
## RewriteRule ^([a-zA-Z_]+)/*$ $1.php [L]