body {
    max-width: 1200px;
    width: 100%;
    background-image: url("../images/back-background.jpg");
    margin: auto;
}

main {
    /* Pour fixer le footer si le main n'est pas assez grand */
    min-height: 82vh;
}

header,
.content {
    background: #EEE;
}

.success-message {
    color: #19e284;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}

.error-message {
    color: #ff0000;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}


.pointer {
    cursor: pointer;
}