body {
    background-image: url("../images/background.png") !important;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul a {
    display: block;
    position: relative;
    font-size: 1em;
}

/* Fade in */
nav ul a::after {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #000;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
}

nav ul a:hover::after,
nav ul a:focus::after {
    opacity: 1;
    transform: scale(1);
}

nav ul a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #000;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
}

nav ul a:hover::before,
nav ul a:focus::before {
    opacity: 1;
    transform: scale(1);
}

main {
    /* Pour fixer le footer si le main n'est pas assez grand */
    min-height: 80vh;
}

/* div container of img */
.container-project-picture {
    max-height: 150px;
    overflow: hidden;
    /*ici je réduit la hauteur du container et je cache le depassement d'image*/
}

h1 {
    font-size: 1.38rem;
    opacity: 0.8;
}

.success-message {
    color: #05cb6f;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}

.error-message {
    color: #ff0000;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}

.arrow-icon {
    width: 20px;
    filter: invert(20%);
    transform: rotate(-90deg);
}

.reverse {
    transform: scaleX(-1) rotate(-90deg);
}

.pointer {
    cursor: pointer;
}

/* Animation home page */

.card-project,
.form-contact,
.form-login {
    animation-name: move-and-display-to-top;
    animation-duration: 2.5s;
    position: relative;
    animation-timing-function: ease-out;
}

.card-project:nth-of-type(1),
.form-contact,
.form-login {
    animation-delay: -0.7s;
}

.card-project:nth-of-type(2) {
    animation-delay: -0.5s;
}

.card-project:nth-of-type(3) {
    animation-delay: -0.3s;
}

.card-project:nth-of-type(4) {
    animation-delay: -0.1s;
}

@keyframes move-and-display-to-top {
    0% {
        opacity: 0;
        bottom: -150px;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}

/* Animation about page */

.text-about {
    animation-name: display;
    animation-duration: 3s;
    position: relative;
}

@keyframes display {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-about {
    animation-name: move-and-display-to-left;
    animation-duration: 2s;
    position: relative;
}

@keyframes move-and-display-to-left {
    0% {
        opacity: 0;
        right: -150px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

/* Animation forms */

.form-contact,
.form-login {
    animation-name: move-and-display-to-top;
    animation-duration: 1800ms;
    animation-timing-function: ease;
}