body {
    background-image: url("../images/background.png") !important;
    margin: auto;
    font-family: sans-serif;
}

main {
    /* Pour fixer le footer si le main n'est pas assez grand */
    min-height: 82vh;
}

.success-message {
    color: #19e284;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}

.error-message {
    color: #ff0000;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}

.arrow-icon {
    width: 20px;
    filter: invert(90%);
    transform: rotate(-90deg);
}

.reverse {
    transform: scaleX(-1) rotate(-90deg);
}

.pointer {
    cursor: pointer;
}