body {
    background-image: url("../images/background.png") !important;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul a {
    display: block;
    position: relative;
    font-size: 1em;
}

/* Fade in */
nav ul a::after {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
}

nav ul a:hover::after,
nav ul a:focus::after {
    opacity: 1;
    transform: scale(1);
}

nav ul a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
}

nav ul a:hover::before,
nav ul a:focus::before {
    opacity: 1;
    transform: scale(1);
}

main {
    /* Pour fixer le footer si le main n'est pas assez grand */
    min-height: 82vh;
}

h1 {
    font-size: 1.4rem;
}

.success-message {
    color: #19e284;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}

.error-message {
    color: #ff0000;
    font-style: italic;
    padding: 0;
    margin: 0.5em auto;
}

.arrow-icon {
    width: 20px;
    filter: invert(90%);
    transform: rotate(-90deg);
}

.reverse {
    transform: scaleX(-1) rotate(-90deg);
}

.pointer {
    cursor: pointer;
}